@{
    ViewBag.Title = "Coffee Shop finder";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This page under construction.<p>
<p>Maybe you can help us find you by going to Google Maps!</p>
<li><a href="https://maps.google.com">Google Maps</a></li>
<li>@Html.ActionLink("Back to List", "Index")</li>

